---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About | Divya van Mahajan">
    <article class="post-single">
        <header class="post-header">
            <h1 class="post-title">About</h1>
        </header>

        <div class="post-content">
            <p>
                I am passionate about building things and learning new things. I
                was inspired by <a href="https://glukhov.org">Rost Glukhov</a> and
                <a href="https://simonwillison.net">Simon Willison</a>, to
                record and share what I've learnt. My interests are varied and
                this is a place where I record and share what I've learnt. This
                is mostly for myself to remember what I found and how I got it
                done. I hope it is useful to you too.
            </p>
            <p>
                <a href="https://linkedin.com/in/divyamahajan"
                    >Divya van Mahajan</a
                >
            </p>
        </div>
    </article>
</BaseLayout>
